
/* General customization */
.btn-standard {
  background-color: white;
  color: black;
  border-style: 1px solid;
  border-color: black;
}

.btn-standard:hover {
  background-color: black;
  color: white;
  border-color: white;
}

h1.pageTitle {
  border-bottom: 1px solid black;
}



/* HEADER STYLE */
.headerComponent {
  background-color: rgba(38,38,38,255);
}

.headerComponent {
  /* padding-top: 0.5em;
  padding-bottom: 0.5em; */
}

.headerComponent .headerContents {
  column-gap: 2em;
  display: inline-flex;
}

.headerComponent .headerContents h1{
  font-size: 4em;
  line-height: 1.5em;
}


/* HOME PAGE STYLES */

.homePageSlide {
  background-color: black;
}

.homePageSlide img {
  height: 500px;
  object-fit: cover;

}

.homePageSlide .carouselCaption{
  background-color: rgba(0, 0, 0, 0.9);
}

h1 {
  text-align: center;
}

.learnInstrumentFluid {
  background-color: lightgray;
  padding-top: 1em;
  padding-bottom: 1em;
}

.kitContent {
  flex-wrap: nowrap;
  display: flex;

}

.kitContent h2 {
  vertical-align: middle;
  line-height: 40rem;
  margin-top: 3rem;
}


.learnInstrument {
  text-align: center;
}

.learnInstrument h6 {
  font-size: 1.5em;
  margin-right: 4em;
  margin-left: 4em;
  font-weight: normal;
  padding-bottom: 2em;
}


/* Shopping cart style */

.cartItem{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 2em;
}

.cartItem img{
  height: 300px;
}

/* Product style */

.componentCard .card-img {
  object-fit: cover;
  height: 30rem;
}
/* Shops style */

.shop {
  display: flex;
  flex-wrap: wrap;
}

.shopPage h1 {
  border-bottom: 1px solid black;
}

