
/* HEADER STYLE */
.headerComponent {
  background-color: rgb(133, 133, 133);
}

.headerComponent {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.headerComponent .headerContents {
  column-gap: 2em;
  display: inline-flex;
}

.headerComponent .headerContents h1{
  font-size: 4em;
  line-height: 1.5em;
}
